/combined_ne_10m_land_lakes_rivers
/combined_ne_50m_land_lakes
/combine_shp.py
/geodesic_sphere_1.glb
/geodesic_sphere_2.glb
/geodesic_sphere_3.glb
/geodesic_sphere_4.glb
/geodesic_sphere_5.glb
/geodesic_sphere_6.glb
/geodesic_sphere_7.glb
/geodesic_sphere_8.glb
/geodesic_sphere_9.glb
/geodesic_sphere_deduplicated.glb
/temp_colors.bin
/temp_indices.bin
/temp_vertices.bin
/test.py
/__pycache__